.App nav {
  background-color: red; 
  height: 50px;
  margin-bottom: 15px;
  margin-top: 0;
}

.App ul {
  list-style: none;
}

.App li, a{
  display: inline-block;
  color: white;
  padding: 14px;
  text-align: center;
}

.App input {
 width: 65%;
 height: 30px;
 border-radius: 5px;
}

.App form button {
  background-color: rgb(207, 19, 19);
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 5px;
}

.body {
  text-align: center;
}

.noResultsDiv {
  background-color: grey;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  margin: 0 auto;
}

.resultsDiv {
  align-content: center;
}

.resultsDiv ul {
  /* width: 65%; */
  columns: 2;
  float: left;
  position: relative;
  margin-right: 10px;
  /* margin: 0 auto; */
}

.resultsDiv p {
  display: block;
  color: black;
  width: 320px;
}

.resultsDiv img {
  width: 320px;
  height: 180px;
}