/*
JOSEPH P. PASAOA
NavBar Component Styling | YouTube Abbreviated | Unit 4 Assessment
*/


ul.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  background-color: #000;
}

.nav-link:link, .nav-link:visited {
  margin-left: 0px;
  margin-right: 22px;
  padding: 3px 6px 5px 6px;

  text-decoration: none;
  color: white;
}

.nav-link.active:link, .nav-link.active:visited {
  color: #666;
  border-top: solid 1px red;
  border-bottom: solid 1px red;
}