/*
JOSEPH P. PASAOA
App MAIN Component Styling | YouTube Abbreviated | Unit 4 Assessment
*/


.App {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 72px auto;

  font-family: 'Open Sans', sans-serif;
  font-size: 0.85em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
}

.msg-error {
  color: red;
  font-weight: bold;
}

input[type="text"] {
  height: 1.2em;
  border-radius: 3px;
  margin-right: 6px;
  padding: 3px;

  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

textarea {
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;

  border-radius: 3px;
  padding: 3px;

  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

button {
  height: 2em;
  border-radius: 13px;
  padding: 0px 16px;
  margin: 0px 6px 3px 6px;
}