.App {
  text-align: center;
  margin-top: 10px;
}
.navBar{
  display: grid;
  grid-template-columns: 153px 63px auto;
  align-items: center;
  text-align: start;
  /* background-color: #FF0000; */
  padding: 10px;
}

.links{
  text-decoration: none;
}
.searchInput{
  width: 45%;
  height: 25px;
}
.youtube{
  margin: 0px;
  height: auto;
}
.youtube, .links {
  /* color: white; */
  font-family:  Roboto, arial, sans-serif
}

.submitButton{
  color:white;
  background-color: #ff0000;
  font-family:  Roboto, arial, sans-serif;
  height: 25px;
  width:60px
}
.videoListing{
  display: grid;
  grid-template-columns: repeat(2,auto);
  padding-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
}


.searchTitleName{

}
img{
  height:200px;
  width:auto;
  padding: 15px;
}