.App {
  text-align: center;
}

nav {
  right: 80%;
  background-color: red;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white;
}



nav > a {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
}

html, body {
  height: 100%;
  margin: 0px;
}


